/* You can add global styles to this file, and also import other style files */
/*
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color:darkslategrey;
  background-image: url("/website/src/app/assets/lightverback.PNG");
  font-family: 'Mukta Mahee', sans-serif;
}
*/
