<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/myprojects">My Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="/compare">Comparison</a>
      </li>
    </ul>
  </div>
</nav>
