.headering {
  padding: 2rem 1rem;
  background: rgb(0,47,40);
  background: linear-gradient(338deg, rgba(0,47,40,1) 0%, rgba(9,121,113,1) 56%, rgba(158,255,234,1) 100%);
  font-family: 'Mukta Mahee', sans-serif;
  color:aliceblue;
}
